body{
    font-family: sans-serif;
    background: #e8e8e8;
    background: linear-gradient(90deg, rgba(154,119,255,1) 0%, rgba(2,199,255,1) 100%);
}

.menu {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 1300px;
    background: azure;
    margin: auto ;
    display: flex;
    border-radius: 5px;
}

.barra-bs {
    color: #252525;
    max-width: 1300px;
    margin: 15px auto;
    width: 100%;
    justify-content: space-between;
}

.barra-bs button{
    margin-left: 74%;
    
}

.barra-bs .img-add {
    width: 50px;
    height: 50px;
    
}

.barra-bs label input {
    border-radius: 3px;
    outline: none;
    border: none;
    color: #252525;
    border-bottom: #252525;
    
}


.menu li a{
    text-decoration: none;
    color: #252525;
    padding: 20px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a:hover {
    background: #009fa5;
}

.producto-tabla {
    text-align: center;
    max-width: 1300px;
    width: 100%;
    margin: auto;
    padding: 4px;
    margin-top: 1%;
    border-radius: 5px;
    background-color: azure;
    
    
}

.producto-tabla tr {
    margin-top: 0%;
}

.producto-tabla tr th:hover {
    color: #009fa5;
}

.img-btn {
    width: 20px;
    height: 20px;
}

.btn {
    border: none;
    background: none;
    border-radius: 5px;
}

.btn:hover {
    background: #cccccc;
}

.nuevo-usuario {
    text-align: left;
    max-width: 1300px;
    margin: auto;
    padding: 1px;
    border-radius: 5px;
    background-color: azure;
    display: flex;
    flex-direction: column;
    
    
}

.nuevo-usuario label{
    margin-left: 5px;
    margin-block: 5px;
    margin-right: 10px;
    
}

div.nuevo-usuario{
    justify-content: center;
    align-items: center;

}

.botones {
    margin: 10px;
}

.btn.btn-outline-primary {
    margin-bottom: 15px;
}

.centerpanel-empresas {
    display: none;
    flex-direction: column;
    width: 400px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    background-color: azure;
    padding: 20px;
    border-radius: 10px;
}

.centerpanel-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    display: none;
}

.centerpanel-persona {
    display: none;
    flex-direction: column;
    width: 400px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    background-color: azure;
    padding: 20px;
    border-radius: 10px;
}

.titulo-popup {
    text-align: center;
    margin: 10px;

}

.input-atributo  {
    margin: 10px;

}

.botones-popup {
    size: 40px;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.boton-popup {
    margin: 5px;
    border: none;
    background-color: rgb(100, 140, 250);
    color: azure;
    border-radius: 5px;
    font-size: large;
}

.boton-popup:hover {
    background-color: rgb(21, 83, 255);
}